# Core RAG Logic
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-classic
langchain-core

# Document & Vector Processing
pdfplumber
faiss-cpu
sentence-transformers
flashrank

# API & Environment
fastapi
uvicorn
python-dotenv
numpy